@model MvcBlog.Models.Uye

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>Bunu silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yetki.Yetki1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki.Yetki1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullanıcıAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullanıcıAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-warning" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
